@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f8f8f8;
    text-align: center;
}

body {
    font-family: Lora;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.hero {
    background-image: url('../images/mango-smoothie-Large.webp');
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
}
.behind-hero {
    /* background-color: #ffefef; */
    width: 100%;
    color: #fff;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px; /* Adjust margin if needed */
}


.nav-links li a {
    color: #fff;
    text-decoration: none;
    color:#5C5649;
    font-size:1.5em;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding: 0 10px; /* Adjust this value to increase or decrease the padding */
    text-align: center;

}
.nav-links li a:hover {
    background-color: #ffeac2;
    border-radius: 1rem;
}

.navigation {
    background-color: #fde2a5;
    color: #fff;
    padding: 10px 0;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 10px;
    color:#5C5649;
}
h2 {
    margin: 20px;
    text-align: center;
    color: #5C5649	;
}
h3 {
    text-align: center;
    color:#5C5649;

}
h4 {
    color:#5C5649;
}
header p {
    color:#5C5649;

}

p {
    font-size: 1.2em;
    color:#5C5649;
}


.card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;

}

.card {
    background-color: #ffefef	;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.section-heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.order-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 20px 30px 20px 30px;
    font-size: 20px;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-container {
    text-align: center; /* Center align the content */
}
#drinks-ordered {
    margin-top: 1rem;
    font-size: 130px;
    font-weight: bold;
    text-align: center;
    
}

.order-button:hover {
    background-color: #555;
}

.card img:hover {
    opacity: 0.6;
    transition: opacity  0.3s ease-in-out;
}

#weather-description {
    font-weight: bold;
    font-size: 20px;
}
.footer {
    background-color: #ffefef;
    color: rgb(255, 48, 48);
    padding: 30px 0;
    text-align: center;
    margin-top: 2rem;
}

/* .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
} */

.footer ul a {
    text-decoration: none;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info {
    padding-right: 10px;
}

.socials ul {
    list-style: none;
    padding: 0;
}

.resources p {
    padding-left: 10px;
}
/* order css */

/* form css */
form {
    margin-top: 20px;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select.fruit-dropdown {
    width: calc(100% - 22px); /* Adjust width to accommodate dropdown arrow */
}

#special-instructions {
    resize: vertical; /* Allow vertical resizing */
}

#form-submit {
    width: 100%;
    background-color: #ffefef ;
    color:#5C5649;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#form-submit:hover {
    background-color: #ffeac2;
    border-radius: 1rem;
}
/* about page */

.about-us {
    background: #ffefef;
    padding: 20px;
    border-radius: 5px;
    margin-top: 2rem;
}

.about-us h1 {
    color: #5C5649;
    text-align: center;
    font-size: 3em; /* Adjust font size */
    margin-bottom: 20px; /* Adjust margin bottom */
}

.about-us p {
    color: #5C5649;
    font-size: 1.2em; /* Adjust font size */
    margin-bottom: 20px; /* Adjust margin bottom */
}

.about-images {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    margin-top: 20px; /* Add space from the text */
}

.about-images img {
    max-width: 50%; /* Adjust image width */
    max-height: 100%;
    height: auto;
    margin: 0 10px; /* Add space between images */
    border-radius: 5px; /* Add border radius */
}
.about-images img:hover {
    opacity: 0.6;
    transition: opacity  0.3s ease-in-out;
}
.image-container {
    margin: 0 10px; /* Add space between images */
    border-radius: 5px; /* Add border radius */

}


.google-map {
    text-align: center;
}

.google-map h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* cofirm page */

.confirm-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.confirmation {
    text-align: center;
    margin-bottom: 20px;
}

.confirmation h1 {
    color: #5C5649;
    font-size: 3em;
}

.thank-you {
    text-align: center;
    margin-bottom: 20px;
}

.thank-you h2 {
    color: #5C5649;
    font-size: 2em;
}

.thank-you h4 {
    color: #5C5649;
}

.card {
    background-color: #ffefef;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.card h4 {
    color: #5C5649;
}

.card p {
    color: #5C5649;
}

.pay {
    text-align: center;
    margin-bottom: 20px;
}

.pay h4 {
    color: #5C5649;
    font-size: 1.5em;
}

.personal-thanks {
    text-align: center;
    margin-bottom: 20px;
}

.personal-thanks p {
    color: #5C5649;
}

#order-info {
    margin-bottom: 20px;
}

#order-info h3 {
    color: #5C5649;
}

#order-info h4 {
    color: #5C5649;
}

#payment-info {
    margin-bottom: 20px;
}

#payment-info h4 {
    color: #5C5649;
}
/* CSS for hamburger button */
.nav-toggle {
    display: none; /* Ensure the button is initially visible */
    font-size: 25px;
    width: 50px;
    background-color:#5C5649 ;
    color: #fff;
    margin: 5px;
}

@media screen and (min-width: 768px) {
    .nav-toggle {
        display: none; /* Hide the hamburger button by default */
    }

    .nav-links {
        display: block ; /* Ensure nav links are displayed */
    }
}

/* CSS for smaller screens */
@media screen and (max-width: 767px) {
    .nav-toggle {
        display: block; /* Display the hamburger button */
    }

    .nav-links {
        display: none; /* Hide the nav links by default */
    }

    .nav-collapse.active .nav-links {
        display: block ; /* Display nav links when .nav-collapse has .active class */
    }
    .contact-info {
        text-align: center;
        justify-content: center;
    }
   .footer {
        text-align:center;
        margin: 10px;
   }
   .footer ul a {
    text-decoration: none;

   }
}