@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #333; /* Set your preferred text color */
  line-height: 1.6;
  margin: 0;
}
h1 { 
  padding-left: 25px;
}
h2 {
  text-align: center;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0rem;
}
h3 {
  background-color: #9EF8EE;
  margin: 0;
  padding: .5rem;
  border-radius: 0.45rem ;
}

/* Center the main element horizontally with limited width */
main {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

/* Style header */
header {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #22BABB;
}
header img {
  margin: 1rem;
  padding: 0;
  max-width: 8rem;
}

header h1 {
  margin: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu::before {
  content: "☰";
}
#menu.open::before {
  content: "❎";
}
.navigation {
  background-color: #348888;
  padding: 10px;
  text-align: center;
  display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
}
.open a {
	display: block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav li {
  display: none;
  margin-right: 15px;
}
.open li {
  display: inline;
}
nav a {
  color: #FFF; /* Set your preferred link color */
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  display: block;
  flex: 1 1 100%;
}

nav a:hover {
	background-color: #969696;
	color: #333;
	font-weight: 700;
}
/* Style main sections using CSS Grid */
main {
  display: grid;
  gap: 20px;
}

.card {
  background-color: #FFF; /* Set your preferred card background color */
  padding: 20px;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Style footer */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #F8F9FA; /* Set your preferred footer background color */
}

img {
    width: 130px;
    height: 100px;
    margin-left: 500px;
    padding-left: 50px;
    text-align: center;
}   
